@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.card {
  width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.281);
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.cardContent {
  padding: 15px;
  text-align: center;
}

.cardTitle {
  margin: 0;
  color: #333;
}

.cardDescription {
  color: #666;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-bottom: 20px;
}

.Toastify__toast-container {
  z-index: 9999;
}
