* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
}

.img_logo_header {
  width: 130px;
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  

}

.header {
  justify-content: space-between;
  padding: 0 10%;
  height: 4.5em;
  box-shadow: 1px 1px 4px #1c1c1c;
  background-color: none;
  
  
}

.navigation_header {
  gap: 3em;
  z-index: 2;
}

.navigation_header a {
  text-decoration: none;
  color: black;
  transition: 2s;
}

.navigation_header a:hover {
  color: blue;
}

.active {
  padding: 10px;
}

.btn_icon_header {
  background: transparent;
  border: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.profile {
  position: relative;
}

.profile img {
  width: 39px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  /* left: -80px; */
  top: 45px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 3;
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: background 0.3s;
}

.dropdown a:hover {
  background: #f1f1f1;
}

.proflie-img-cointainer {
  background-color: rgb(238, 238, 238);
  padding: 20px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.proflie-img-div img{
  width: 80px;
}
.user-details{
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .navigation_header {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    background: rgb(239, 239, 239);
    height: 100%;
    width: 30vw;
    animation-duration: 1s;
    margin-left: -100vw;
  }

  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 30vw;
    border-bottom: 2px solid rgb(69, 67, 67);
  }

  .navigation_header.show {
    margin-left: -10vw;
    animation-name: showSidebar;
  }

  .btn_icon_header {
    display: block;
  }

  .div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .active {
    padding: 10px;
  }

  .navigation_header a {
    border-bottom: 2px solid black;
  }
}

@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: -10vw;
  }
}
